<div>
  <div *ngFor="let message of messages" [ngClass]="{'system-message': message.username === 'SYSTEM'}">
    <span>{{ message.username }}:</span>
    <span>
      {{ message.message }}
    </span>
  </div>

  <div>
    <input [(ngModel)]="message" (keydown.enter)="sendMessage()" style="height: 30px;position: absolute"/>
    <button mat-icon-button matTooltip="Warn" color="warn" (click)="sendMessage()" style="height: 35px;position: absolute;">
      <mat-icon>sendMessage</mat-icon>
    </button>
  </div>
</div>
