<div>
  <div *ngFor="let message of messages" [ngClass]="{'system-message': message.username === 'SYSTEM'}">
    <span>{{ message.username }}:</span>
    <span>
      {{ message.message }}
    </span>
  </div>

  <div>
    <input [(ngModel)]="message" (keydown.enter)="sendMessage()" style="height: 30px;"/>
    <button mat-icon-button matTooltip="Warn" color="warn" (click)="sendMessage()" >
      <mat-icon>sendMessage</mat-icon>
      <link rel="stylesheet" href="/frontend/src/app/components/chat/chat.component.css">
    </button>
  </div>
</div>
