.pllist {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.pllist-item {
  padding: 16px;
  margin-bottom: 8px;
  background-color: bisque;
  border-radius: 8px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5);
}
.pllist-item::marker {
  width: auto;
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}
.playername {
  width: auto;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}
.playerscore {
  width: auto;
  font-size: 1.2em;
  font-weight: 100;
  color: cadetblue;
  column-gap: 20px;
}
